<nz-card class="welcomeCard">
    <div>
        <div>
            <h2 *ngIf="user$ | async as user" nz-typography>Olá, {{ user.name }}! :)</h2>
        </div>
        <div>
            <span nz-typography>{{todayDate | date:'EEEE, dd/MM/yyyy':'':'pt-BR'}}</span>
        </div>
    </div>
    <div class="accountInfo">
        <div class="showAmmountButton">
            <h3 nz-typography>Saldo</h3>
            <button class="btn" nz-button nzType="primary" nzSize="large" nzShape="circle" (click)="hideAmmount()">
                <span nz-icon nzTheme="fill" [nzType]="!showAmmount ? 'eye-invisible' : 'eye'"></span>
            </button>
        </div>
        <nz-divider class="divider"></nz-divider>
        <div class="ammountInfo">
            <span nz-typography>Conta Corrente</span>
            <span nz-typography style="font-size: 24px;">{{ showAmmount ? formatCurrencyBRL(totalAmmount) : 'R$ ****'}}</span>
        </div>
    </div>

    <!-- <div style="margin-top: 20px; ">
        <button nz-button nzType="default" (click)="openDashboard()" style="color: #FFF;">📊 Visualizar Dashboard</button>
    </div> -->
</nz-card>


<!-- <div *ngIf="dashboardVisible">
    <app-dashboard></app-dashboard>
</div> -->