<div>
    <ul class="tabletList" *ngIf="screenType === 'tablet'" nz-menu nzMode="horizontal">
        <li nz-menu-item *ngFor="let item of menuItems" [nzMatchRouter]="true" [routerLink]="item.path">
            <span>{{item.label}}</span>
        </li>
    </ul>

    <div *ngIf="screenType === 'mobile'" class="mobileButton">
        <button nz-button nzType="primary" (click)="toggleCollapsed()">
            <span nz-icon [nzType]="'menu'"></span>
        </button>
        <div class="mobileMenu" *ngIf="isCollapsed">
            <ul nz-menu nzMode="inline" nzTheme="dark">
                <li nz-menu-item *ngFor="let item of menuItems" [nzMatchRouter]="true" [routerLink]="item.path">
                    <span>{{item.label}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
