.tabletList {
   background-color: #e4ede3;
}

ul {
   text-align: center;
}

.mobileButton {
   position: absolute; 
   top: 1em; left: 1em; 
}

.mobileButton button {
   background: transparent;
   border: none;
   margin: 16px 0px;
   color: #FF5031;
}

.mobileMenu ul {
   position: absolute;
   z-index: 9999;
   width: 200px;
   border-radius: 8px;
   background-color: #e4ede3;
   color: #000;
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.mobileMenu ul li {
   color: #000;
   padding-bottom: 16px;
   padding-top: 8px;
}

:host::ng-deep .ant-menu-item-selected {
    background-color: transparent !important;
    color: #47A138 !important
}