<div>
    <ul class="tabletList" *ngIf="screenType === 'tablet'" nz-menu nzMode="horizontal">
        <app-lateral-menu></app-lateral-menu>
    </ul>

    <div *ngIf="screenType === 'mobile'" class="mobileButton">
        <button nz-button nzType="primary" (click)="toggleCollapsed()">
            <span nz-icon [nzType]="'menu'"></span>
        </button>
        <div class="mobileMenu" *ngIf="isCollapsed">
            <ul nz-menu nzMode="inline" nzTheme="dark">
                <app-lateral-menu></app-lateral-menu>
            </ul>
        </div>
    </div>
</div>
